@charset "UTF-8";
.weather .project_visual .project_visual_content {
    align-items:center;
    justify-content:center;
    margin-bottom:0;
}
.weather .project_visual .project_info .project_info_content  {
    justify-content:center;
    gap:5%;
    align-items: center;
}
.weather .project_visual .project_info .project_info_content .project_info_text_wrap {
    width:50%;
}
.weather .project_visual .project_info .project_info_content .project_info_text p {
    font-size: 18px;
    color: #666;
    letter-spacing: 30%;
    font-weight: 500;
    margin-bottom:-6px;
}
.weather .project_visual .project_info .project_info_content .project_visual_img {
    width:50%;
}
.weather .project_visual .project_info .project_info_content .project_visual_img img {
    width:70%;
}
.weather .project_visual .project_info .project_info_content .project_info_text_wrap ul {
    display:flex;
}
.weather .project_visual .project_info .project_info_content .project_info_text_wrap ul li {
    padding-right:12px;
    margin-right:12px;
    position:relative;
}
.weather .project_visual .project_info .project_info_content .project_info_text_wrap ul li::after {
    content:'';
    display:block;
    position:absolute;
    top:50%;
    right:0;
    width:2px;
    height:2px;
    border-radius:50%;
    background:red;
    transform:translateY(-50%);
}
@media screen and (max-width:1920px) {

}
@media screen and (max-width:1600px) {
}

@media screen and (max-width:1440px) {

}

@media screen and (max-width:1280px) {

}

@media screen and (max-width:1024px) {

}


@media screen and (max-width:768px) {
    
}

@media screen and (max-width:480px) {

}

@media screen and (max-width:380px) { 

}