@charset "UTF-8";
.weather .project_visual .project_visual_content {
    align-items:center;
    justify-content:center;
    margin-bottom:0;
}
.weather .project_visual .project_info .project_info_content  {
    justify-content:center;
    gap:5%;
    align-items: center;
}
.weather .project_visual .project_info .project_info_content .project_info_text_wrap {
    width:50%;
}
.weather .project_visual .project_info .project_info_content .project_info_text p {
    font-size: 18px;
    color: #25252C;
    letter-spacing: 30%;
    font-weight: 300;
    margin-bottom:-4px;
}
.weather .project_visual .project_info .project_info_content .project_visual_img {
    width:50%;
}
.weather .project_visual .project_info .project_info_content .project_visual_img img {
    width:70%;
}
.weather .project_visual .project_info .project_info_content .project_info_text_wrap ul {
    display:flex;
    font-size:18px;
    color:#25252CE6;
    font-weight:500;
}
.weather .project_visual .project_info .project_info_content .project_info_text_wrap ul li {
    padding-right:20px;
    margin-right:20px;
    position:relative;
}
.weather .project_visual .project_info .project_info_content .project_info_text_wrap ul li::after {
    content:'';
    display:block;
    position:absolute;
    top:50%;
    left:100%;
    width:4px;
    height:4px;
    border-radius:50%;
    background:#25252C99;
    transform:translate(-50%, -50%);
}
.weather .project_visual .project_info .project_info_content .project_info_text_wrap ul li:last-child {
    padding-right:0;
    margin-right:0;
}
.weather .project_visual .project_info .project_info_content .project_info_text_wrap ul li:last-child::after {
    display:none;
}
@media screen and (max-width:1920px) {

}
@media screen and (max-width:1600px) {
}

@media screen and (max-width:1440px) {

}

@media screen and (max-width:1280px) {

}

@media screen and (max-width:1024px) {

}


@media screen and (max-width:768px) {
    
}

@media screen and (max-width:480px) {

}

@media screen and (max-width:380px) { 

}